@import './utils/variables';
// @import './utils/placeholder';
@import './utils/mixin';
@import './utils/visually-hidden';
@import './base/general';
@import './base/reset';

@import './components/block/container';
@import './components/block/section';
@import './components/common/btn';
@import './components/common/logo';
@import './components/common/navigation';
@import './components/common/address';
@import './components/list/info-list';
@import './components/text/pre-title';
@import './components/text/font-info';
@import './components/text/font-text';
@import './components/text/font-title';
@import './components/list/card-list';
@import './components/list/social-list';
@import './components/form/recording';
@import './components/modal/backdrop';

@import './layout/header';
@import './layout/footer';
@import './layout/hero';
@import './layout/about';
@import './layout/services';
@import './layout/advantage';
@import './layout/masters';
@import './layout/gallery';
@import './layout/feedback';
@import './layout/online';
@import './layout/contacts';
