/* Блок Feedback */
// .feedback {
//   padding-top: 130px;
//   padding-bottom: 130px;
//   background-color: $feedback-bg-color;
//   background-image: url(../images/contacts-bg.png);
//   background-repeat: no-repeat;
//   background-position: calc(50% + 325px);
//   background-size: 625px auto;
// }

// .feedback__container {
//   display: flex;
// }
