/* Блок Feedback */
.feedback {
  background-color: $feedback-bg-color;

  @include min-media($desktop) {
    background-image: url(../images/contacts/contacts-bg-625.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 325px);
    background-size: 625px auto;

    @include retina() {
      background-image: url(../images/contacts/contacts-bg-625@2x.png);
    }
  }
}

.feedback__container {
  @include max-media($desktop) {
    padding-left: 0;
    padding-right: 0;
  }

  @include min-media($desktop) {
    @include flex-position(flex, null, space-between);
  }
}
