/* -------- FOOTER ------- */
.footer {
  padding-top: 44px;
  padding-bottom: 44px;

  @include min-media($tablet) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer__container {
  @include flex-position(flex, flex-start, space-between);
}

.footer__text {
  color: $hero-text-color;

  @include max-media($tablet) {
    padding-top: 35px;
  }
}
