/* -------- FOOTER ------- */
// .footer {
//   padding-top: 57px;
//   padding-bottom: 55px;
//   padding-left: 55px;
//   padding-right: 55px;
// }

// .footer__container {
//   display: flex;
//   justify-content: space-between;
// }

// .footer__text {
//   color: $hero-text-color;
// }
