/* -------- HEADER ------- */
// .header {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   font-weight: 600;
//   font-size: 12px;
//   line-height: 1.33;
//   letter-spacing: 0.1em;
// }

.header__container {
  position: relative;
  @include flex-position(flex, center, space-between);
}

.header__menu {
  width: 100%;
  @include flex-position(flex, null, space-between);

  &.is-open {
    overflow: auto;
  }

  @include max-media($tablet) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 347px;
    height: 100vh;
    padding: 48px 40px;
    flex-direction: column;
    background-color: $primary-bg-color;

    transform-origin: top right;
    transform: translateY(-100%);

    transition: transform $general-transition-time $primary-cubic-bezier;

    &.is-open {
      transform: translateY(0);
    }

    // & .social-list {
    //   flex-wrap: wrap;
    // }

    // & .social-list__item {
    //   &:not(:last-child) {
    //     padding-right: 10px;
    //     border-right: 1px solid rgba(33, 33, 33, 0.2);
    //   }
    // }
    // & .social-list__link {
    //   display: inline-block;
    //   width: auto;
    //   height: auto;
    //   border-radius: 0;
    //   @include font(18px, 22px, 0.02em, 500);
    //   color: $activated-color;
    // }
  }
}

.header__btn-menu {
  display: none;

  @include max-media($tablet) {
    z-index: 3;
    @include flex-position();
    // color: $title-text-color;
    border: none;
    background-color: transparent;
  }
}

.header__icon-btn {
  @include max-media($tablet) {
    fill: currentColor;
    transition: color 250ms $primary-cubic-bezier;

    .header__btn-menu:hover &,
    .header__btn-menu:focus & {
      color: $accent-text-color;
    }

    &--close {
      opacity: 0;
      transition: opacity 250ms $primary-cubic-bezier;

      .header__btn-menu.is-open & {
        opacity: 1;
      }
    }

    &--menu {
      opacity: 1;
      transition: opacity 250ms $primary-cubic-bezier;
      .header__btn-menu.is-open & {
        opacity: 0;
      }
    }
  }
}

// .header__wrap {
//   display: flex;
//   margin-left: auto;
//   margin-right: 3px;
//   align-items: center;
// }

// .header__link {
//   @include header-link(16px);
// }

// .header__btn {
//   margin-left: 40px;
// }
