/* -------- HEADER ------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  @include max-media($tablet) {
    position: relative;
    @include flex-position(flex, center, space-between);
    padding-top: 40px;
  }

  @include min-media($tablet) {
    @include flex-position(flex, flex-start, null);
    padding-top: 32px;
  }
}

.header__menu {
  @include max-media($tablet) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 347px;
    height: 100vh;
    padding-top: 118px;
    padding-left: 50px;
    background-color: $primary-bg-color;
    overflow: hidden;
    visibility: hidden;
    transform-origin: top right;
    transform: translateY(-100%);

    transition: visibility $general-transition-time $primary-cubic-bezier,
      transform $general-transition-time $primary-cubic-bezier;

    &.is-open {
      transform: translateY(0);
      visibility: visible;
      overflow: auto;
    }
  }

  @include min-media($tablet) {
    width: 100%;
    @include flex-position(flex, flex-start, space-between);
    margin-left: 61px;
  }

  @include min-media($desktop) {
    margin-left: 70px;
  }
}

.header__logo {
  color: $hero-title-color;

  @include min-media($tablet) {
    color: $primary-title-color;
  }

  @include media-span($tablet, $desktop) {
    margin-left: 10px;
  }
}

.header__btn-menu {
  display: none;

  @include max-media($tablet) {
    z-index: 3;
    @include flex-position();
    border: none;
    background-color: transparent;
  }
}

.header__icon-btn {
  @include max-media($tablet) {
    fill: currentColor;

    &--close {
      color: $primary-title-color;
      opacity: 0;
      transition: opacity $general-transition-time $primary-cubic-bezier,
        color $general-transition-time $primary-cubic-bezier;

      .header__btn-menu.is-open & {
        opacity: 1;
      }

      .header__btn-menu:hover &,
      .header__btn-menu:focus & {
        color: $accent-text-color;
      }
    }

    &--menu {
      color: $hero-title-color;
      opacity: 1;
      transition: opacity $general-transition-time $primary-cubic-bezier,
        color $general-transition-time $primary-cubic-bezier;
      .header__btn-menu.is-open & {
        opacity: 0;
      }

      .header__btn-menu:hover &,
      .header__btn-menu:focus & {
        color: $accent-text-color;
      }
    }
  }
}

.header__navigation {
  @include max-media($tablet) {
    margin-bottom: 64px;
  }
}

.header__wrap {
  @include max-media($tablet) {
    margin-bottom: 64px;
  }

  @include min-media($tablet) {
    @include flex-position(flex, center, null);
    flex-direction: column-reverse;
    margin-right: 3px;
  }

  @include media-span($tablet, $desktop) {
    margin-top: 8px;
  }

  @include min-media($desktop) {
    flex-direction: row;
  }
}

.header__link {
  @include link(null);
  @include font(18px, 25px, 0.1em, 600);
  color: $primary-title-color;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }

  @include min-media($tablet) {
    @include link(block, 20px, null);
    @include font(12px, 16px);
    color: $hero-title-color;
  }
}

.header__btn {
  display: block;

  @include max-media($tablet) {
    margin-top: 24px;
    padding-left: 37px;
    padding-right: 37px;
    color: $secondary-btn-text-color;
  }

  @include min-media($desktop) {
    margin-left: 40px;
  }
}

.header__info-list {
  display: none;

  @include max-media($tablet) {
    display: flex;
    flex-wrap: wrap;
    @include font(14px, 19px, 0.2em, 600);

    & .info-list__item {
      &:not(:first-child) {
        margin-top: 24px;
        margin-left: 100px;
      }
    }
  }
}
