/* секция hero */
.hero {
  //   padding-top: 208px;
  //   padding-bottom: 183px;

  @include max-media($tablet) {
    max-width: $mobile;
    margin-left: auto;
    margin-right: auto;
    padding-top: 208px;
    padding-bottom: 183px;
    background-color: $first-bg-color;
    background-image: linear-gradient($hero-overlay, $hero-overlay),
      url(../images/hero/slider-img-3-480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include retina() {
      background-image: linear-gradient($hero-overlay, $hero-overlay),
        url(../images/hero/slider-img-3-480@2x.jpg);
    }
  }
}

.hero__container {
  @include min-media($tablet) {
    @include flex-position(flex, null, space-between);
  }
}

.hero__info {
  display: none;

  @include min-media($tablet) {
    @include flex-position(flex, end, null);
    // display: flex;
    width: 97px;
    // align-items: flex-end;
    padding-bottom: 40px;
  }
}

.hero__info-list {
  @include min-media($tablet) {
    transform-origin: bottom left;
    transform: rotate(-90deg) translateY(42px);
  }
}

.hero__body {
  max-width: 306px;
  //   max-width: 1073px;
  //   flex-grow: 1;
  //   padding-top: 272px;
  //   padding-bottom: 206px;
  //   padding-left: 96px;
  //   padding-right: 452px;
  //   background-color: $first-bg-color;
  //   background-image: linear-gradient($hero-overlay, $hero-overlay), url(../images/slider-img-3.jpg);
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;
  @include min-media($tablet) {
    max-width: 577px;
    padding-top: 280px;
    padding-bottom: 234px;
    padding-left: 70px;
    padding-right: 157px;
    background-color: $first-bg-color;
    background-image: linear-gradient($hero-overlay, $hero-overlay),
      url(../images/hero/slider-img-3-577.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include retina() {
      background-image: linear-gradient($hero-overlay, $hero-overlay),
        url(../images/hero/slider-img-3-577@2x.jpg);
    }
  }
}

.hero__pre-title {
  margin-bottom: $spacing-between-paragraphs;
  color: $hero-pre-title-color;

  &::before {
    background-color: $hero-pre-title-color;
  }
}

.hero__title {
  margin-bottom: $spacing-between-paragraphs;
  @include font(48px, 56px, 0.05em, null, $primary-title-font);
  //   font-size: 72px;
  //   line-height: 1.18;
  //   letter-spacing: 0.05em;
  color: $hero-title-color;
}

.hero__text {
  color: $hero-text-color;
}
