/* секция masters */
.masters {
  background-color: $secondary-bg-color;
}

.masters__container {
  @include media-span($tablet, $desktop) {
    max-width: 450px;
    padding-left: 0;
    padding-right: 0;
  }
}

.masters__pre-title {
  margin-bottom: $spacing-between-paragraphs;
  color: $primary-pre-title-color;

  &::before {
    background-color: $primary-pre-title-color;
  }
}

.masters__title {
  margin-bottom: $heading-distance;
  color: $primary-title-color;
}
