.pre-title {
  @include flex-position(flex, center, null);
  @include font(11px, 15px, 0.1em, 600);
  text-transform: uppercase;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: $pre-title-margin;
  }
}
