.card-list {
  @extend %list;
  display: flex;
  margin-left: -1 * $image-distance;
}

.card-list__item {
  flex-basis: calc(100% / 3 - #{$image-distance});
  margin-left: $image-distance;
}

.card-list__img {
  @extend %img;
  margin-bottom: $image-distance;
}

.card-list__title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: $primary-title-color;
}

.card-list__position {
  margin-bottom: $image-distance;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: $accent-text-color;
}
