.card-list {
  @include list();

  @include min-media($desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.card-list__item {
  text-align: center;

  @include max-media($desktop) {
    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

  @include min-media($desktop) {
    flex-basis: calc(100% / 3 - #{$image-distance});
    margin: 15px;
  }
}

.card-list__img {
  margin-bottom: $image-distance;
}

.card-list__title {
  margin-bottom: 8px;
  @include font(18px, 25px, null, 400);
  color: $primary-title-color;
}

.card-list__position {
  margin-bottom: $image-distance;
  @include font(14px, 19px);
  color: $accent-text-color;
}
