.address {
  font-style: inherit;

  @include max-media($tablet) {
    margin-bottom: $heading-distance;
  }

  @include min-media($desktop) {
    margin-bottom: 70px;
  }
}

.address__list {
  @include list();

  @include min-media($tablet) {
    max-width: 260px;
  }
}

.address__item {
  &:not(:last-child) {
    margin-bottom: $spacing-between-paragraphs;
  }
}

.address__link {
  @include link(inline-flex);
  align-items: center;
  transition: color $general-transition-time $primary-cubic-bezier;
  &--email {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.address__icon {
  margin-right: 16px;
  flex-shrink: 0;
  --color1: currentColor;
}
