.navigation__list {
  @include list();

  @include min-media($tablet) {
    display: flex;
  }
}

.navigation__item {
  @include max-media($tablet) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @include min-media($tablet) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

// .navigation__item:not(:first-child) {
//   margin-left: 40px;
// }

.navigation__link {
  //   @include header-link(16px);
  @include link(null);
  @include font(18px, 25px, 0.1em, 600);
  color: $primary-title-color;

  @include min-media($tablet) {
    @include link(block, 20px, null);
    @include font(12px, 16px);
    color: $hero-title-color;
  }

  &--active,
  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}
