.section {
  padding-top: 84px;
  padding-bottom: 84px;

  @include min-media($tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include min-media($desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
