$accent-text-color: #ff6c00;
$first-text-color: #ffffff;
$hero-title-color: #ffffff;
$hero-pre-title-color: rgba(157, 164, 189, 0.6);
$hero-text-color: #9da4bd;
$primary-pre-title-color: #303030;
$primary-title-color: #303030;
$primary-text-color: #555555;
$primary-btn-text-color: #ffffff;
$secondary-btn-text-color: #303030;
$secondary-title-color: #ffffff;
$secondary-text-color: #303030;
$accent-btn-text-color: #ffffff;
$primary-bg-color: #ffffff;
$first-bg-color: #303030;
$secondary-bg-color: #f7f7f7;
$primary-btn-bg-color: #303030;
$secondary-btn-bg-color: #ffffff;
$accent-btn-bg-color: #ff6c00;
$border-btn: 1px solid #ff6c00;
$hero-overlay: rgba(25, 28, 38, 0.2);
$online-form-color: rgba(157, 164, 189, 0.4);
$services-bg-color: #111319;
$feedback-bg-color: #191c26;
$backdrop-overlay: rgba(25, 28, 38, 0.2);
$services-gradient-light: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
$services-gradient-dark: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
$primary-text-font: 'Open Sans', sans-serif;
$primary-title-font: 'Raleway', sans-serif;
$spacing-between-paragraphs: 20px;
$heading-distance: 44px;
$image-distance: 30px;
$pre-link-margin: 40px;
$pre-title-margin: 20px;
$primary-cubic-bezier: linear;
$general-transition-time: 250ms;
$min-width: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
